.Swatch {

}

.Swatch-swatches {
  border: 1px solid black;
  display: inline-flex;
  margin-bottom: 1rem;
}

.Swatch-color {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.Swatch-color + .Swatch-color {
  border-left: 1px solid black;
}

.Swatch-selected {
  margin-bottom: 1rem;
}

.Swatch-button {
  background: darkgray;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
